div.hidden {
  display: none;
}

.row {
  display: flex;
}

.navigation-bar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 2rem;
}

.header-icon {
  width: 40px;
}

.menu {
  flex-basis: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
  font-size: 1.5rem;
}

.menu > div,
i {
  margin: 5px;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-full {
  flex-basis: 100%;
  width: 100%;
  text-align: center;
}

.series {
  width: 282px;
  margin: 20px;
}

.expansion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.set-list {
  width: 80%;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #edefff;
  flex-wrap: wrap;
}

.set-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
}

.set-wrapper > div {
  font-family: lato, sans-serif;
  opacity: 0.85;
}

.set {
  max-width: 100%;
  max-height: 80px;
  margin: 1rem;
}

.deck {
  margin: 20px 0;
}

.my-links {
  display: none;
  background-color: #8c7b83;
}

.menu-content {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
}

.desktop {
  display: none;
}

.card-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  position: absolute;
  z-index: -1;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  width: 20%;
  margin: 0.5rem;
}

.tabs-wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: end;
}

.tab {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.display-card-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #edefff;
}

div.display-card-column {
  display: fixed;
}

.display-collection-card {
  width: 50%;
}

.half-column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .set-wrapper {
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 768px) {
  .set-wrapper {
    width: calc(100% / 3);
  }

  .view-home {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .half-column {
    flex-basis: 100%;
  }

  .deck-column {
    position: fixed;
    left: 0;
    right: 50%;
    top: 50%;
    bottom: 50%;
  }

  .expansion-column {
    padding-left: 50%;
  }

  div.sub-header {
    background-color: transparent;
  }

  div.deck-image {
    width: 230px;
    height: 300px;
  }

  div.desktop-menu {
    font-size: 2rem;
    display: flex;
  }

  .desktop-menu-content {
    margin-right: 30px;
  }

  .mobile {
    display: none;
  }

  .tabs-wrapper {
    display: none;
  }

  .display-card-column {
    position: fixed;
    right: 50%;
    left: 0%;
    top: 0;
    background-color: #edefff;
    height: 100%;
    z-index: -1;
    justify-content: center;
    align-items: center;
  }

  .card-collection-column {
    padding-left: 50%;
  }
}
