div.hidden {
  display: none;
}

.row {
  display: flex;
}

.navigation-bar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 2rem;
}

.header-icon {
  width: 40px;
}

.menu {
  flex-basis: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
  font-size: 1.5rem;
}

.menu > div,
i {
  margin: 5px;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-full {
  flex-basis: 100%;
  width: 100%;
  text-align: center;
}

.series {
  width: 282px;
  margin: 20px;
}

.expansion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.set-list {
  width: 80%;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #edefff;
  flex-wrap: wrap;
}

.set-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
}

.set-wrapper > div {
  font-family: lato, sans-serif;
  opacity: 0.85;
}

.set {
  max-width: 100%;
  max-height: 80px;
  margin: 1rem;
}

.deck {
  margin: 20px 0;
}

.my-links {
  display: none;
  background-color: #8c7b83;
}

.menu-content {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
}

.desktop {
  display: none;
}

.loading-screen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-screen {
  width: 20%;
}

.card-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  width: 20%;
  margin: 0.5rem;
}

.card {
  width: 100%;
}

.tabs-wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: end;
}

.tab {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.display-card-wrapper {
  display: flex;
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #edefff;
}

.button-column {
  justify-content: end;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c54029;
  color: white;
  height: 1.5rem;
  width: 4rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  font-size: 0.8rem;
  border: none;
}

.display-collection-card {
  width: 50%;
}

.half-column {
  display: flex;
  flex-direction: column;
}

.add-minus {
  width: 100%;
  justify-content: center;
  background-color: #edefff;
  height: 1rem;
  margin: 0.5rem;
}

.add-wrapper {
  display: flex;
  width: 8rem;
  justify-content: center;
}

.minus-wrapper {
  display: flex;
  width: 8rem;
  justify-content: center;
}

.deck-wrapper {
  display: none;
}

.deck-card {
  width: calc(100% / 5);
  margin: 0.5rem;
}

.view-my-deck {
  display: flex;
  flex-direction: column;
}

div.deck-card-display {
  justify-content: center;
  align-items: center;
}

.deck-card-display > img {
  width: 35%;
  padding: 1rem;
  background-color: #edefff;
}

.desktop-deck-card {
  width: 15%;
  margin: 0.5rem;
}

.deck-card-collection {
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.my-deck {
  text-align: center;
  justify-content: center;
}

.my-deck-mobile {
  display: none;
}

@media screen and (min-width: 600px) {
  .set-wrapper {
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 768px) {
  .set-wrapper {
    width: calc(100% / 3);
  }

  .view-home {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .half-column {
    flex-basis: 100%;
  }

  .deck-column {
    position: fixed;
    left: 0;
    right: 50%;
    top: 50%;
    bottom: 50%;
  }

  .expansion-column {
    padding-left: 50%;
  }

  div.sub-header {
    background-color: transparent;
  }

  div.deck-image {
    width: 230px;
    height: 300px;
  }

  div.desktop-menu {
    font-size: 2rem;
    display: flex;
  }

  .desktop-menu-content {
    margin-right: 30px;
  }

  .mobile {
    display: none;
  }

  .tabs-wrapper {
    display: none;
  }

  .display-collection-card {
    width: 220px;
  }

  .display-card-column {
    display: flex;
    position: fixed;
    right: 50%;
    left: 0%;
    top: 0;
    background-color: #edefff;
    height: 100%;
    z-index: -1;
    justify-content: center;
    align-items: center;
  }

  .card-collection-column {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 50%;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .my-links {
    display: none;
  }

  .deck-container {
    width: 80%;
    height: 30%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .display-card-wrapper {
    padding: 0.5rem;
  }

  .deck-card {
    width: calc(100% / 8);
    margin: 0.5rem;
  }

  .deck-card-display {
    background-color: #edefff;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
  }

  .desktop-deck-card {
    width: calc(100% / 12);
    margin: 0.5rem;
  }

  .deck-card-collection {
    padding: 0 5rem;
  }

  .view-my-deck {
    display: flex;
    flex-direction: column;
  }

  .deck-card-display > img {
    width: 15%;
    padding: 1rem;
  }

  .my-deck {
    text-align: center;
  }

  .deck-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .my-deck-mobile {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
